div{
    
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-radius: 25px;
}
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: auto ;
        box-sizing: border-box;
        border-radius: 25px;
        
      }
      button{
        width: 70%;
        padding: 12px;
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        
        margin: auto ;
   
        border-radius: 25px;
        
      }
      .user{
        position: relative;
    
      }
      .user i{
        position:absolute;
        top:50%;
        left:10px;
      }.mail{
        position: relative;
    
      }
      .mail i{
        position:absolute;
        top:50%;
        left:10px;
      }
      .lock{
        position: relative;
    
      }
      .lock i{
        position:absolute;
        top:50%;
        left:10px;
      }
      #Efacebook{
        padding: 20px;
        height: 25px; 
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
         display: inline-block;
         margin: auto; 
        
        
        
       }
      
       #Atuit{
        padding: 20px;
        height: 25px; 
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
         display: inline-block;
         margin: auto; 
        
        
        
       }
       #Bgoogle{
        padding: 20px;
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
  
         
       } 
       #Clinkedin{
        padding: 20px;
        height: 25px; 
        width: 25px;
        background-color:#bbb;
        border-radius: 50%;
         display: inline-block;
         margin: auto; 
       }
       #Dinsta{
        padding: 20px;
        height: 25px; 
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
         display: inline-block;
         margin: auto; 
      
       }
       #Z{
        display:flex;
        justify-content: center;
       }
       

