row {
    height: 100vh;
}

p {
    line-height: 0.1vh;
}
.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20vw;
    background-color: blue;
    color: white;
    border: 2px solid white;
    width: 10vw;
    height: 6vh;
    font-weight: bold;
    font-size: 3vh;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vh; 
    font-size: 3.3vh;
    font-weight:660;
    padding-bottom: 1vh;
}
.button {
    display: flex;
    align-items: center; 
    justify-content: center;
}
.left {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: center;
    padding-top: 2vh;
    padding-left: 3vw;
    padding-right: 21vw;
    justify-content: center;
    padding-bottom: 13vh;
    clip-path: ellipse(650px 97.5% at 0.2% 1%);
    height: max-content;
    max-width: 200%;
    /* now I just need to play around with these numbers - clip-path: ellipse(800px 96.5% at 0.2% 1%); */
    /*clip-path: ellipse(800px 100% at 1% 0.1%);*/
}
.satellite {
   width: 28.5vw;
}
.logo {
    padding-left: 5vw;
    padding-top: 2vh;
}

.icon-fo{
    align-items: conter;
    margin-left: 10%;
}
.icon-cl{
    margin: 5%;
    font-size: 2em;
}

