col {
  padding-top: 5vh;
}
.right{
max-height: fit-content;
}
.SignUp {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  padding-top: 6vh;
  height: 55vw;
  width: 30vw;
  margin: 0.5%;

}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vh;
  margin-bottom: 2vh;

}

input {
  width: 100%;
  padding: 12px 20px;
  margin: none;
  box-sizing: border-box;
  border-radius: 25px;

}

button {
  background-color: blue;
  color: white;
  width: 90%;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: auto;

  border-radius: 25px;

}

.imput {
  position: relative;

}

.imput i {
  position: absolute;
  top: 50%;
  left: 10px;
}


#Z {
  display: flex;
  justify-content: center;
}

button {
  color: white;
}


.left {
  display: flex;
  flex-direction: column;
  align-content: start;
  justify-items: start;
}

.container-fluid {
  display: flex;
 align-items: center;
}