div{
    
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-radius: 25px;
}
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: auto ;
        box-sizing: border-box;
        border-radius: 25px;
        
      }
      button{
        width: 70%;
        padding: 12px;
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        
        margin: auto ;
   
        border-radius: 25px;
        
      }
      .user{
        position: relative;
    
      }
      .user i{
        position:absolute;
        top:50%;
        left:10px;
      }.mail{
        position: relative;
    
      }
      .mail i{
        position:absolute;
        top:50%;
        left:10px;
      }
      .lock{
        position: relative;
    
      }
      .lock i{
        position:absolute;
        top:50%;
        left:10px;
      }
       #A{
        padding: 20px;
       }
       #B{
        padding: 20px;
       } 
       #C{
        padding: 20px;
       }
       #D{
        padding: 20px;
       }
       #Z{
        display:flex;
        justify-content: center;
       }

